.results-item {
  display: flex;
  align-items: flex-start;
  color: #003054;
  font-weight: 600;
  min-height: 60px;
  border-bottom: 1px #d3d3d3 solid;
  padding: 20px 0 20px 20px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  &__name,
  &__nip,
  &__value,
  &__date {
    width: 25%;

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}
