@import "../../base";

.results-item {
  display: flex;
  align-items: flex-start;
  color: $blue;
  font-weight: 600;
  min-height: 60px;
  border-bottom: 1px $grey solid;
  padding: 20px 0 20px 20px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    padding: 20px 0;
  }

  @media (max-width: 450px) {
    gap: 10px;
  }

  &__name,
  &__nip,
  &__value,
  &__date {
    width: 25%;

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 450px) {
      width: calc(33% - 10px);
    }
  }

  &__name {
    @media (max-width: 450px) {
      width: 100%;
    }
  }
}
