$grey: #d3d3d3;
$grey-darker: #bbbbbb;
$white: #fff;
$blue: #003054;
$red: #e40321;

@mixin container {
  width: 100%;
  max-width: 1200px;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    margin: 0 10px;
  }
}
